.title {
    margin: 2rem 0;
    font-weight: 400;
    font-size: 2rem;
    color: #fff;
  }
  
  .input-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .error{
      color: rgb(255, 0, 0);
  }
  
  #input {
    background-color: #fff;
    border: none;
    width: 30%;
    font-size: 18px;
    outline: none;
    padding: 18px 25px;
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px ;
  }
  #btn {
    border: none;
    padding: 20px;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px ;
    background-color: $Very-Dark-Gray;
  }
  
  #btn:hover{
      background-color: rgb(62, 61, 61);
  }